<div class="bulk-products container py-4 position-relative" *ngIf="showUploadForm">
  <form [formGroup]="bulkProductsForm">
    <div class="mx-auto file-box position-relative p-0" [ngClass]="{'prevent-pointer-event': progress === 100}">
      <div class="drag-drop-container d-flex align-items-center" appDnd (fileDropped)="onFileDropped($event)">
        <div class="w-100 pt-4 mt-3">
          <input id="fileDropRef" (change)="onFileSelect($event)"
                 type="file" name="file" class="form-control" formControlName="file"
                 accept="text/csv,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
          <p class="text-danger" *ngIf="message !== ''">{{message}}</p>
          <p class="pb-0 pb-lg-4 mb-0 mb-lg-3 text-center px-4" *ngIf="message === ''">
            Drag and drop, or <span class="blue-text pointer">browse</span> your file</p>
        </div>
      </div>
    </div>

    <div class="mt-4 mr-auto" *ngIf="fileToProcess && showProcessing">
      <div class="w-100">
        <div class="info pb-1">
          <h4>{{ fileToProcess.name }}</h4>
          <div class="d-flex">
          <div class="progress-cont align-self-center">
            <div class="progress" [style.width]="progress + '%'"> </div>
          </div>
              <div class="px-3">{{progress + '%'}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="my-4">
      <p [ngClass]="{'invisible': this.progress !== 100}"
         class="pointer px-5 py-2 text-nowrap rounded border d-block d-lg-inline text-center"
         (click)="startOverReset()">Start over</p>
    </div>
      <ng-container  *ngIf="this.progress">
      <p> You have {{this.correctProductsArray.length}} valid products out of {{this.productsList?.length}} products.
        Please <span class="pointer link text-decoration-underline" (click)="showInvalidProducts = true;">click</span> here to check the other products</p>
      <p>Please notice the following:</p>
        <ul>
          <li>All fields are required</li>
          <li>Quantity should be number</li>
          <li>Delivery date must have this format 'MM/DD/YYYY'</li>
          <li>You need to fill a correct email address</li>
        </ul>
    </ng-container>
  </form>

  <form [formGroup]="inValidProductsForm" *ngIf="showInvalidProducts" class="pb-5 my-5">
    <div class="row bold mb-3">
      <div class="col-md-2"><p class="table-label">Product Name</p></div>
      <div class="col-md-2"><p class="table-label">Brand Name</p></div>
      <div class="col-md-2"><p class="table-label">Quantity</p></div>
      <div class="col-md-2"><p class="table-label">Delivery Date</p></div>
      <div class="col-md-2"><p class="table-label">Email</p></div>
    </div>
    <div formArrayName="productsControls">
      <div *ngFor="let productGroup of productsControls.controls; let i = index" [formGroupName]="i" class="row mb-4">
        <!-- Input fields for each attribute of the product -->
        <div class="col-md-2">
          <input formControlName="productName" placeholder="Product Name" class="form-control"
                 [ngClass]="{'red-border': !this.validateProductName( productGroup.value.productName)}">
        </div>
        <div class="col-md-2">
          <input formControlName="brandName" placeholder="Brand Name" class="form-control"
                 [ngClass]="{'red-border': !this.validateBrandName( productGroup.value.brandName)}">
        </div>
        <div class="col-md-2">
          <input formControlName="quantity" placeholder="Quantity" class="form-control"
                 [ngClass]="{'red-border': !this.validateQuantity( productGroup.value.quantity)}">
          </div>
        <div class="col-md-2">
          <input formControlName="deleveryDate" type="date" class="form-control"
                 [ngClass]="{'red-border': !this.validateDeliveryDate( productGroup.value.deleveryDate)}"
                 #deleveryDateInput>
        </div>
        <div class="col-md-2">
          <input formControlName="email" placeholder="Email" class="form-control"
                 [ngClass]="{'red-border': !this.validateEmail( productGroup.value.email)}">
        </div>

      </div>
    </div>

    <div class="my-4">
      <p class="pointer px-5 py-2 text-nowrap rounded border d-block d-lg-inline text-center m-progress"
         (click)="saveProducts()" [ngClass]="{'m-progress': this.submitting | async}">Save</p>
    </div>
    <p class="text-danger">{{this.saveProductsMsg | async}}</p>
    <p class="text-success">{{this.saveProductsMsgSuccessfully | async}}</p>
  </form>
</div>


